* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100%;
  background: #fff;
}

.content {
  position: fixed;
  top: 68px;
  width: 100%;
  height: calc(100vh - 68px);
  overflow: scroll;
  scroll-behavior: smooth;
}